@page "/Test"
@using Shared
@rendermode InteractiveWebAssembly
@inject IAnimalService AnimalService

<PageTitle>Demo</PageTitle>

<h3>WebAssembly</h3>

<EditForm FormName="DemoForm" Model="NewAnimal" OnValidSubmit="SaveAnimal">
    <DataAnnotationsValidator/>
    <InputText @bind-Value="NewAnimal!.Name"></InputText>
    <InputText @bind-Value="NewAnimal!.Type"></InputText>
    <InputText @bind-Value="NewAnimal!.Email"></InputText>
    <InputText @bind-Value="NewAnimal!.Phone"></InputText>
    <button type="submit">Save</button>
    <ValidationSummary/>
</EditForm>

<Virtualize Items="AnimalService.GetAnimalList()">
    <div class="card">
        <div class="card-body">
            <h1>@context.Name</h1>
        </div>
        <div class="card-footer">
            <h3>@context.Type</h3>
        </div>
    </div>
</Virtualize>

@code {

    private Animal NewAnimal { get; set; } = new();

    private void SaveAnimal()
    {
        AnimalService.AddAnimal(NewAnimal);
        NewAnimal = new();
    }

}